# dependencies
node_modules/
.pnp
.pnp.js

# builds
dist/
build/
.next/
out/

# env
.env
.env.local
.env.*.local

# logs
*.log
npm-debug.log*

# testing
coverage/

# os / editor
.DS_Store
Thumbs.db
.idea/
.vscode/
*.tsbuildinfo

# misc
*.pem

# assignment brief (not part of the solution)
*.pdf
